<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<!-- namespace : 이 XML 이 어떤 interface 와 연결되는지 설정 -->
	<!-- 리스트 출력 -->
<mapper namespace="com.pretty.dog.dao.CommunityDAO">

	<!--  
	<select id="freeList" resultType="dog">
		select community_boardnum, category_num, community_sub,mem_id,community_date, community_view, community_likes, community_blind
		from community_board order by community_boardnum desc
	</select>
	-->
	

	
	
	<select id="categoryList" resultType="dog">
		select category_num, category_name,category_admin,category_blind  
		from community_category	
	</select>
	
	
	<select id="listCall" resultType="dog">
     	select community_boardnum, category_num, community_sub, mem_id ,community_date, community_view, community_likes, community_blind
		from community_board order by community_boardnum desc
     	limit #{param1} offset #{param2}
   </select>  
	
   
   <select id="allCount" resultType="int">
   		select count(community_boardnum)
   		from community_board 
   		where category_num not in(3);
   </select>
		
	
	<!-- 게시판내 검색 -->
	<!-- 트렌드제외하기 -->
	 <select id="freeSearch" parameterType="hashMap" resultType="dog">
		 	SELECT * FROM community_board
	 	<where>
		 	<if test="opt.equals('community_sub') and !keyword.equals('')">
		 		 community_sub LIKE CONCAT('%',#{keyword},'%')
		 	</if>
			<if test="opt.equals('community_cont') and !keyword.equals('')">
		 		community_cont LIKE CONCAT('%',#{keyword},'%')
		 	</if>
		 	<if test="opt.equals('mem_id') and !keyword.equals('')">
		 		mem_id LIKE CONCAT('%',#{keyword},'%')
		 	</if>
	 	</where>
	 	
	 </select>	

</mapper>