<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<!-- namespace : 이 XML 이 어떤 interface 와 연결되는지 설정 -->
<mapper namespace="com.pretty.dog.dao.MembersDAO">

	<!-- 일반 회원가입 -->	
	<insert id="joinShs" parameterType = "hashmap">
	      INSERT INTO members (mem_id,mem_pw,mem_name,mem_tel,mem_email)
	        VALUES(#{param1},#{param2},#{param3},#{param4},#{param5})
	 </insert>

	 
	 <!-- 점주 회원가입 -->	
	<insert id="ShopjoinShs" parameterType = "hashmap">
	      INSERT INTO members (mem_id,mem_pw,mem_name,mem_tel,mem_email,mem_rank)
	        VALUES(#{param1},#{param2},#{param3},#{param4},#{param5},'1')
	 </insert>

	<!-- 중복체크 -->	
	<select id="overlayShsid" resultType="String">
			SELECT mem_id FROM members WHERE mem_id = #{param1}
	</select>
	
	<!-- 매장정보등록(회원가입) -->	
	<insert id="ShopInfo" parameterType = "hashmap">
	      INSERT INTO shop (busin_num,mem_id,busin_name,busin_info,busin_smalldog,busin_middledog,busin_bigdog,busin_area,busin_juso)
	        VALUES(#{shopSaup},#{shopid},#{shopname},#{shopSogae},#{smallD},#{middleD},#{bigD},#{addr},#{shopAddr})
	 </insert>
	 
	 	<!-- 사업자 중복체크 -->	
	<select id="shopSaupCk" resultType="String">
		SELECT busin_num FROM shop WHERE busin_num = #{param1}
	</select>
	 
	 
	 <!-- 매장인테리어 사진(회원가입) -->	
	<insert id="shopPhoto">
	      INSERT INTO interior (busin_num,interior_oriname,interior_newname)
	        VALUES(#{param1},#{param2},#{param3})
	 </insert>
	 
	 
	 <!-- 회원탈퇴 -->
	 <update id="memberOut">
		update members set mem_state = '2' WHERE mem_id =#{param1}
	</update>
	 
	 
	 
	 <!-- 마이페이지 비밀번호 확인 -->
	<select id="PassCk" resultType="String">
		SELECT mem_pw FROM members WHERE mem_id = #{param1}
	</select>
	 
	 
	 <!-- 개인정보 확인 -->
	<select id="MyjungboSujungshs" resultType="com.pretty.dog.dto.DogDTO">
		select * from members WHERE mem_id =#{param1}
	</select>
	
	<!-- 개인정보 수정 -->
	<update id="userUp" parameterType="hashmap">
		update members set mem_email = #{email},mem_tel = #{phone}
			<if test="!pw.equals('')">
				,mem_pw = #{pw}
			</if>	
			WHERE mem_id =#{id}
	</update>
	
	<!-- 매장정보 확인 -->
	<select id="MyShopInfoshs" resultType="com.pretty.dog.dto.DogDTO">
		select * from shop WHERE mem_id =#{param1}
	</select>
	 
	 
	 <!-- MY 매장정보 수정 -->
	<update id="shopup" parameterType = "hashmap">
		update shop set 
			busin_info =#{shopSogae},
			busin_area =#{addr}, 
			busin_juso=#{shopAddr},
			busin_smalldog=#{smallD},
			busin_middledog=#{middleD},
			busin_bigdog=#{bigD},
			busin_name=#{busin_name},
			busin_num=#{busin_num}
			WHERE mem_id =#{id}
	</update>
	 
	 
	 <!-- MY강아지 등록 -->
	 <insert id="DogUp" parameterType = "String">
	      INSERT INTO doginfo (mem_id,dog_name,dog_age,dog_weight,dog_char)
	        VALUES(#{param1},#{param2},#{param3},#{param4},#{param5})
	 </insert>
	 
	 <!-- MY강아지 리스트-->
	 <select id="Mydogshs" resultType="com.pretty.dog.dto.DogDTO">
		select * from doginfo WHERE mem_id =#{param1} AND dog_state =0
	</select>
	
	<!-- MY 강아지 등록 정보 삭제 -->
	<update id="DogDel">
		update doginfo set dog_state = '1' WHERE mem_id =#{param1} AND dog_name = #{param2}
	</update>
	
	<!-- MY 강아지 정보 확인 -->
	<select id="MyDogsujungshs" resultType="com.pretty.dog.dto.DogDTO">
		select * from doginfo WHERE mem_id =#{param1} AND dog_name = #{param2} AND dog_state='0'
	</select>
	
	<!-- MY 강아지 정보 수정 -->
	<update id="DogSujung">
		update doginfo set 
		dog_name=#{param2},
		dog_age=#{param3}, 
		dog_weight=#{param4},
		dog_char=#{param5}
		 WHERE mem_id =#{param1} AND dog_name = #{param2}
	</update>
	
	<!-- 개인정보수정 비밀번호 확인창 멤버 정보불러오기 -->
	<select id="memberPassCk" resultType="dog">
		SELECT * FROM members WHERE mem_id = #{param1}
	</select>

</mapper>