<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<!-- namespace : 이 XML 이 어떤 interface 와 연결되는지 설정 -->
<mapper namespace="com.pretty.dog.dao.SshShopListDAO">

	<select id="sshShopList" resultType="hashmap">
		select busin_num,mem_id,busin_name,busin_info,busin_smalldog,busin_middledog,busin_bigdog,busin_area
		,busin_likes,busin_date,busin_calss,busin_juso
		from shop
	</select>
	
	<select id="sshShopDetail" resultType="hashmap">
		select *
		from shop
		where busin_num = #{param1}
	</select>
	
	<select id="sshShopQnaList" resultType="hashmap">
		select *
		from shop_board
		where shop_boardclass = 2
		and busin_num = #{param1}
		order by shop_boardnum desc
	</select>
	
	<select id="sshShopQnaIdChk" resultType="hashmap">
		select *
		from shop_board sb, shop_board_comment sbc
		where sb.shop_boardnum = sbc.shop_boardnum
		and sbc.mem_id = #{param1}
	</select>

	<select id="qnaComChk" parameterType="java.util.List" resultType="hashmap">
		select sb.shop_boardnum 
		from shop_board sb, shop_board_comment sbc
		where sb.shop_boardnum = sbc.shop_boardnum
		and sbc.shop_boardnum in
		<foreach collection="list" item="item" open="(" close=")"  separator=",">
			#{item}
		</foreach>
	</select>
	
	<insert id="QnaNnswerInsert">
		insert into shop_board_comment(shop_boardnum, mem_id, scomment_cont,scomment_class)
		values(#{param3}, #{param2}, #{param1},2)
	</insert>
	
	<select id="sshShopQnaNnswerList" resultType="hashmap">
		select *
		from shop_board_comment
	</select>

</mapper>




















































































































































































